[user]
	name = Masataka Yakura
	email = masataka.yakura@gmail.com
[credential]
	helper = osxkeychain
[alias]
	co = checkout
	ci = commit
	st = status -sb
	br = branch
	fo = fetch origin
	fu = fetch upstream
	wd = diff --word-diff
	lg = log --graph --pretty=oneline --decorate --date=short --abbrev-commit --branches
	cm = commit -m
	mom = merge origin/master
	mum = merge upstream/master
	addup = remote add upstream
	amend = commit --amend --reuse-message=HEAD
	diffc = diff --cached
	rename = mv
	dammit = reset --soft HEAD^
[core]
	excludesfile = /Users/myakura/.gitignore
[diff "exif"]
	textconv = exiftool
