[user]
	name = Masataka Yakura
	email = masataka.yakura@gmail.com
[alias]
	co = checkout
	st = status -sb
	br = branch
	lg = log --graph --pretty=oneline --decorate --date=short --abbrev-commit --branches
	move = mv
	undo = reset --soft HEAD^
	amend = commit --amend --reuse-message=HEAD
	diffc = diff --cached
	rename = mv
	unstage = reset -q HEAD --
	discard = checkout --HEAD~
	remotes = remote -v
[core]
	excludesfile = ~/.gitignore
