[Desktop Entry]
Type=Application
Name=Firefox
Exec=/home/myakura/apps/firefox/firefox
Icon=/home/myakura/apps/firefox/browser/chrome/icons/default/default128.png
