[Desktop Entry]
Type=Application
Name=Firefox
Exec=/usr/local/bin/firefox/firefox
Icon=/usr/local/bin/firefox/browser/chrome/icons/default/default128.png
